<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="main.css" media="screen" charset="utf-8">

</head>

<body ng-controller="testCtrl">
    
<h1>SVG based navigation arrows</h1>
<h3>Github: <a href="https://github.com/adica/svg.arrows.navigation">https://github.com/adica/svg.arrows.navigation</a></h3>

  <div class="svg-container">
     <svg id="svg-arrows" width='100%' height='100%' viewBox="0 0 100 100" preserveAspectRatio="none">
         <defs xmlns="http://www.w3.org/2000/svg">
             <filter xmlns="http://www.w3.org/2000/svg" id="dropshadow" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                 <feComponentTransfer in="SourceAlpha" />
                 <feGaussianBlur stdDeviation="1" />
                 <feOffset dx="0" dy="0" result="shadow" />
                 <feComposite in="SourceGraphic" in2="shadow" operator="over" />
             </filter>
         </defs>
         <!-- TOP -->
         <g ng-model="MA.rangeV"
            ng-disabled="MA.rangeV != undefined && MA.rangeV > 1"
            ng-class="{'disabled': MA.rangeV != undefined && MA.rangeV > 1}"
            ng-click="tiltCamera('top')">
            <title>Tilt Up&#10;Keyboard: &#8679;</title>
            <polygon filter="url(#dropshadow)" points="0,0 ,100,0, 50,50" />
            <text text-anchor="middle" x="50" y="20">&#xf062;</text>
         </g>
         <!-- LEFT -->
         <g ng-model="MA.range"
            ng-click="moveStage('left')">
            <title>Move Stage Left&#10;Keyboard: &#x21e6;&#10;Turbo: &#x21e6; + Ctrl</title>
            <polygon filter="url(#dropshadow)" points="0,0 ,0,100, 50,50" />
            <text text-anchor="middle" x="20" y="50">&#xf060;</text>
         </g>
         <!-- RIGHT -->
         <g ng-model="MA.range"
            ng-click="moveStage('right')">
            <title>Move Stage Right&#10;Keyboard: &#8680;&#10;Turbo: &#8680; + Ctrl</title>
            <polygon filter="url(#dropshadow)" points="100,0 ,100,100, 50,50" />
            <text text-anchor="middle" x="80" y="50">&#xf061;</text>
         </g>
         <!-- BOTTOM-->
         <g ng-model="MA.rangeV"
            ng-disabled="MA.rangeV != undefined && MA.rangeV <  0"
            ng-class="{'disabled': MA.rangeV != undefined && MA.rangeV <  0}"
            ng-click="tiltCamera('bottom')">
            <title>Tilt Down&#10;Keyboard: &#8681;</title>
            <polygon filter="url(#dropshadow)" points="0,100 ,100,100, 50,50" />
            <text text-anchor="middle" x="50" y="80">&#xf063;</text>
         </g>
         Sorry, your browser does not support inline SVG.
     </svg>
 </div>

<p>
    <ul>
        <li>Navigation arrows with SVG</li>
        <li>No background images</li>
        <li>Super light (SVG itself weight ~3kb) </li>
        <li>Fully responsive (change width / height by css)</li>
        <li>Fully vector drawing</li>
        <li>Cross plafrom / cross browsers (ie9+)</li>
        <li>Prees Top/Bottom 5 times to disable</li>
    </ul>
</p>

 <script src="angular.min.js"></script>
 <script src="app.js"></script>

</body>

</html>
